
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./tree.css";
body, #root{
  margin: 0;
  padding: 0;
}
.container{
  padding: 10px;
  margin: 80px;
}

.marginRow{
  margin: 20px 0px;
}
 .textwidth{
   width: 200px!important;
   text-align: center;
 }

 .searchWidth{
   width: 70%;
   margin: auto;
 }
 .checkboxRow{
   margin: 0px auto 30px auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
 }
 .formContainer{
   margin: 20px;
   padding: 0px 20px;
 }
 .paddingLeft{
   margin-right: 10px!important;
 }
 .paddingBottom{
   margin-bottom: 10px !important;
 }
 .listColor{
   color: #088c8c;
 }